.experience_container {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;
    line-height: 32px;
}

.experience_cardContainer {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 2.5rem;
    --tw-scroll-snap-strictness: mandatory;
    --tw-space-x-reverse: 0;
    scroll-snap-type: x var(--tw-scroll-snap-strictness);
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.experience_title {
    position: absolute;
    top: 96px;
    text-transform: uppercase;
    letter-spacing: 20px;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}