@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-bg: #050303;
    --color-bg-variant: #2c2c6c;
    --color-primary: #f34848;
    --color-primary-variant: #6b7280;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
  
    transition: all 400ms ease;
  
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  }


.btn {
    width: auto;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
  }